<h2>Sign up</h2>
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                <%if params[:role]%>
                  <% Role.all.each do |role| %>
                    <%= f.hidden_field :user_roles, value: params[:role] %>
                  <%end%>
                <%else%>
                  <%= f.select :user_roles, ['applicant','employer']%>
                <%end%>
                  
                  
                  <div class="field">
                    <%= f.label :Full_Name %><br />
                    <%= f.text_field :name, autofocus: true, autocomplete: "text" %>
                  </div>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                  
                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>
                
                  <%if params[:role]=='applicant'|| :user_roles == 'applicant'%>
                    <%=render 'home/applicant_form',f:f%>
                  <%end%> 
                
                  <div class="actions">
                    <%= f.submit "Sign up" %>
                  </div>
                
                <% end %>


                <h3><%='If already have an Account please click here to'%>
                <%= render "devise/shared/links" %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>