<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.text_field :experience ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :skillset %>
    <%= form.text_field :skillset ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description,class:"form-control" %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
