<p id="notice"><%= notice %></p>

<%=render 'jobs/job_details'%>

<%if current_user.has_role? :'applicant'%>
    <%if is_applied(current_user,@job.id)%>
      <h1 style="color:blue"> <%='You had Already Applied for this job'%></h1>
      <h1> Click here to cancle your application  <%= link_to "Cancle_application",job_applications_destroy_path(id:@job.id),method: :delete, data:{confirm: "Are you sure?"},class:'btn btn-warning'%>   </h1>
     
    <%else%>  
      <div>
         <%=link_to 'Apply', job_applications_verify_path(job_id:@job.id),class:'btn btn-lg btn-primary'%>
        <%#<h1 style="color:red">Click here to apply for this job</h1> <%=link_to "Apply_Now",applies_create_path(job_id:@job.id ) ,method: :post,class:'btn btn-lg btn-primary'%>
      </div>
    <%end%>
  
<%end%>
<%if can? :update, Job %>
  <%= link_to "Application for this job",job_applications_user_application_path(id:@job.id),class:'btn btn-lg btn-primary'%>
  <%= link_to 'Edit', edit_job_path(@job),class:'btn btn-success' %> 
<%end%>
<%= link_to 'Back', jobs_path,class:'btn btn-exit' %>
