
          <div class="field">
            <%= f.label :Add_Address %><br />
            <%= f.text_field :address, autofocus: true, autocomplete: "text" %>
          </div>
          <div class="field">
            <%= f.label :Skills %><br />
            <%= f.text_field :skills, autofocus: true, autocomplete: "text" %>
          </div>
          <div class="field">
            <%= f.label :Description %><br />
            <%= f.text_field :description, autofocus: true, autocomplete: "text" %>
</div>